#navbar{

  width: 20%;
  height: 100%;
  position: fixed;

}

#main-doc{

width: auto;
height:auto;
margin-left: 30%;

}

h1 {
  text-shadow: 1px 1px 3px darkcyan;
  color:  gray
}

h2{
  color: slategray;
  text-shadow: 1px 1px 3px darkcyan
}

#navbar {
  width: px
}

nav ul {
  list-style: none;
  font-size: 20px;

}

nav ul li {
  margin-bottom: 50px;
  font-size: 16px;

}

nav ul li a{
  color: slategray;
  background-color: lightblue;
  box-shadow: 2px 2px 8px black;
  padding: 10px;

}

code{
  background-color:#F2F1F1;
  font-size: 15px;
}

p{
  margin: auto;

}

a:visited, a:link {
    color: darkblue;
    text-decoration: none;

}


@media only screen and (max-width: 600px) {
  #main-doc {
    font-size: : 12px;
  }
}
