#navbar{

  width: 20%;
  height: 100%;
  position: fixed;

}

#main-doc{

width: 80%;
height:auto;
margin-left: 40%;

}

h2{

  color: slategray; 
   text-shadow: 1px 1px 3px darkcyan
}

nav ul {
  list-style: none;
  font-size: 20px;

}

nav ul li {
  margin-bottom: 15px;
}
nav ul li a{
  color:  #slategray;

}

code{
  background-color:#F2F1F1;
  font-size: 15px;
}

p{
  margin: auto;

}

a:visited {
    color: black
}
